body{
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
#cubeWraper{
    display: grid;
    align-items: center;
    perspective: 3000px;
    height: 100vh;
    width: 100%;
    position: absolute;
    cursor: none;
}
#cube{
    position: relative;
    width: 100%;
    height: 1fr;
    transform: rotateX(-90deg) rotateY(-90deg);
    transform-origin: 50% 50% 100%;
    transform-style: preserve-3d;
    transition: transform,color,text-shadow 1s,1s,1s linear;
}
.side{
    width: 100%;
    height: 100px;
    position: absolute;
    font-size: 5em;
    text-align: center;
    line-height: 100px;
    transform-origin: 50% 50% 100%;
    backface-visibility: hidden;
}
#side1{
    transform: rotateY(90deg) rotateX(90deg);
}
#side2{
    transform: rotateY(-90deg) rotateX(-90deg);
}
#side3{
    transform: rotateX(90deg) rotateY(90deg);
}
#side4{
    transform: rotateX(-90deg) rotateY(-90deg);
}   
#side5{
    transform: rotateX(180deg);
}
main{ 
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article aside"
      "footer footer aside";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 10% 1fr 20%;
    grid-gap: 5px;
    height: 100vh;
    width: 99%;
    margin: 0 .5%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    opacity: 0;
    transform: rotateX(90deg);
    transition: opacity,transform 2s,3s  cubic-bezier(.999, .05, 0, .95);
}
main :hover{
    background:linear-gradient( transparent,rgba(127, 127, 127, .5));
}
header, footer, article, nav, aside{
    display: grid;
    background: transparent;
    border: 1px solid silver;
    align-items: center;
    justify-items: center;
    text-align: center;
    transition: background-color 1s;
    overflow-y: auto;
    overflow-x: hidden;
}
header{
    grid-area: header;
}
header>h1{
    position: absolute;
}
footer{
    grid-area: footer;
}
article{ 
    grid-area: article; 
}
nav{ 
    grid-area: nav;
}
aside{ 
    grid-area: aside;
}
button{
     cursor: pointer;
     border: none;
}
#main, #aboutMe, #contact{
     display: none;
}
#main{
    background: url(https://bessdbbs.000webhostapp.com/source/LfnKR1.jpg) 50% top;
}
#main>h2{
      text-transform: uppercase;
      position: absolute center;
      font-size: 5rem;
}
#aboutMe, #aboutMe>p, aside>p:hover, #contact{
      animation: none;
}
#aboutMe{
    width: 66%
}
form{
    position: absolute;
    width: 75%;
}
input{
    width: 50%;
    opacity: .8;
}
#contact{
    font-size: 2rem;
}
  header :hover, article :hover, nav :hover, aside :hover{
    animation: hover 1s linear infinite;
  }
  @keyframes hover{
      from{
        opacity: 1;
        transform: scale(1.005);
        background: linear-gradient(#fff, #000);
        letter-spacing : .1em;
        border: 1px solid white;
      }
      to{
        opacity: 0;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 1);
        transform: scale(0.995);
        color: white;
      }
  }
  @media screen and (orientation: portrait) {
    main{
        font-size: 1.5rem;
        display: grid;
        grid-template-areas: 
          "header header header header"
          "nav nav nav nav"
          "article article article aside"
          "footer footer footer footer";
        grid-template-rows: 90px 90px 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    nav{
       grid-auto-flow: column;
    }
     #aboutMe>img{
        width: 100%;
    }
     button, input{
     font-size: 2rem;
    }
    #main{
        background-size: 120%;
        font-size: 3rem;
        heigth: 40em;
    }
    form{
        width: 100%;
    }
}
